html {
background-color: beige}

h1, h2 {color: red
       font-weight: bold}
ul {border: dotted red
    text-align: center 
   font-family: Courier New, monospace
   }

p {
  font-family: Courier New, monospace
}

img {
  border: 5px dashed pink 
}

a {
  font-weight: bold
}
