body {
  color: #F0F8FF;
  background-color: #66CDAA;

  
}

html {
  font-family: "Courier New", Courier, monospace;
  margin: 12px;
}

p {
  font-size: 24px;
  font-weight: bold;

}

h3{
  align: center; 
  font-size: 48px;

}


code {
  text-align: left;
  font-size: 16px;
}
