body {
  color: #F0F8FF;
  background-color: #66CDAA;

  
}

html {
  font-family: "Courier New", Courier, monospace;
  margin: 12px;
  text-align: center;
}

p {
  font-size: 24px;
  
  font-weight: bold;

}

h3{
  align: center; 
  font-size: 48px;

}

img {
  border: 2px, dotted #FFF8DC;
  float: center;
}
