html {
font-family: Courier, monospace; 
  background-color: #FFE4E1;
}
body {
background-color: #FFDAB9;
width: 75%;
  margin: auto;
}
nav {
  display: inline
  font-weight: bold;
  background-color: #FFA07A;
 
}
p {
  border: 3px solid red; 
  font-size: 24px;
  margin: 12px;
 
}
h1 {
  text-align: center; 
  color: #DDA0DD; 

}


h2
{
  text-align: center; 
  color: #DDA0DD
}

li {
  display: inline;
  padding: 10px;
  font-size: 20px;
  color: #DDA0DD;
  font-weight: bold; 
}
img {
float: right;
  width: 25%;
  height: 25%;
  
}
.current {
background-color: #FFDAB9;
}
