p {
  display: inline-block;
  color: red;
  font-weight: bold;
  font-family: Bookman, URW Bookman L, serif; 
}

nav {
  margin: auto;
  background-color: lightsteelblue;
  font-size: 24px;
  border-radius: 20px;
  border-radius: 20px;}
