html {
font-family: Courier, monospace; 
  background-color: #FFE4E1;
}
nav {
  display: inline
  font-weight: bold;
  background-color: #FFA07A;
 
}
p {
  border: 3px solid red; 
  font-size: 24px;
  margin: 12px;
 
}

h2
{
  text-align: center; 
}

li {
  display: inline;
  padding: 10px;
  font-size: 20px;
}
